<!DOCTYPE html>
<html lang="en">

<head>
    <title>Examen 1 sjacobus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
    <header class="grid">
        <div class="row">
            <div class="col-12">
                <h1>Tone Analyzer App</h1>
            </div>
        </div>
    </header>
    {{{ body }}}
    <footer class="grid">
        <div class="row">
            <div class="col-6">
                <p>Creado por Santiago Jacobus</p>
            </div>
            <div class="col-6">&copy; Iteso P2021</div>
        </div>
    </footer>
</body>
<script src="assets/js/main.js"></script>

</html>